.background-image-animation::before {
  content: "";
  width: 100px;
  height: 200svh;
  opacity: 0.0;
  background-color: white;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1;
  rotate: 45deg;
  animation: animation 2.5s ease-out infinite;
}

@keyframes animation {
  from {
    left: -50%;
  }
  to {
    opacity: 0.3;
    left: 150%;
  }
}

.scroll-none::-webkit-scrollbar {
  display: none;
}
